
body{
    background-color: 847E89;
}

.containeur{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


fieldset{
    color: lightgray;
    background-color: gray;
    border-radius: 50px;
}

legend{
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 150%;
    background-color: gainsboro;
    border-radius: 50px;
}

.bouton{
    justify-content: center;
    margin-left: 40%;
}

h1{
    justify-content: center;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 15px;
}

ul li a {
    color: white;
    font-size: larger;
}

.center {
    text-align: center;
}

.produit{
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.space-evenly {
    justify-content: space-evenly;
}

header {
    background-color: 56494C;
    margin: 0;
    padding: 10px;
}

.flex {
    display: flex;
}

.border {
    border: 1px solid black;
}

.card {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}